list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
      xmlns:rdc="http://www.stormware.cz/schema/version_2/documentresponse.xsd"
      xmlns:lst="http://www.stormware.cz/schema/version_2/list.xsd"
      xmlns:inv="http://www.stormware.cz/schema/version_2/invoice.xsd"
      xmlns:ord="http://www.stormware.cz/schema/version_2/order.xsd"
      xmlns:enq="http://www.stormware.cz/schema/version_2/enquiry.xsd"
      xmlns:ofr="http://www.stormware.cz/schema/version_2/offer.xsd"
      xmlns:prm="http://www.stormware.cz/schema/version_2/parameter.xsd"
      xmlns:vyd="http://www.stormware.cz/schema/version_2/vydejka.xsd"
      xmlns:pri="http://www.stormware.cz/schema/version_2/prijemka.xsd"
      xmlns:bal="http://www.stormware.cz/schema/version_2/balance.xsd"
      xmlns:ctg="http://www.stormware.cz/schema/version_2/category.xsd"
      xmlns:ipm="http://www.stormware.cz/schema/version_2/intParam.xsd"
      xmlns:int="http://www.stormware.cz/schema/version_2/intDoc.xsd"
      xmlns:pro="http://www.stormware.cz/schema/version_2/prodejka.xsd"
      xmlns:vch="http://www.stormware.cz/schema/version_2/voucher.xsd"
      xmlns:vyr="http://www.stormware.cz/schema/version_2/vyroba.xsd"
      xmlns:pre="http://www.stormware.cz/schema/version_2/prevodka.xsd"
      xmlns:idp="http://www.stormware.cz/schema/version_2/individualPrice.xsd"
      xmlns:sup="http://www.stormware.cz/schema/version_2/supplier.xsd"
      xmlns:act="http://www.stormware.cz/schema/version_2/accountancy.xsd"
      xmlns:bnk="http://www.stormware.cz/schema/version_2/bank.xsd"
      xmlns:sto="http://www.stormware.cz/schema/version_2/store.xsd"
      xmlns:grs="http://www.stormware.cz/schema/version_2/groupStocks.xsd"
      xmlns:acp="http://www.stormware.cz/schema/version_2/actionPrice.xsd"
      xmlns:csh="http://www.stormware.cz/schema/version_2/cashRegister.xsd"
      xmlns:bka="http://www.stormware.cz/schema/version_2/bankAccount.xsd"
      xmlns:ilt="http://www.stormware.cz/schema/version_2/inventoryLists.xsd"
      xmlns:pay="http://www.stormware.cz/schema/version_2/payment.xsd"
      xmlns:nms="http://www.stormware.cz/schema/version_2/numericalSeries.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/list.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/list.xsd"
      elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/type.xsd" schemaLocation="type.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd" schemaLocation="filter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/documentresponse.xsd" schemaLocation="documentresponse.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/cashRegister.xsd" schemaLocation="cashRegister.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/bankAccount.xsd" schemaLocation="bankAccount.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/invoice.xsd" schemaLocation="invoice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/order.xsd" schemaLocation="order.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/offer.xsd" schemaLocation="offer.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/enquiry.xsd" schemaLocation="enquiry.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/parameter.xsd" schemaLocation="parameter.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vydejka.xsd" schemaLocation="vydejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prijemka.xsd" schemaLocation="prijemka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/balance.xsd" schemaLocation="balance.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/category.xsd" schemaLocation="category.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intParam.xsd" schemaLocation="intParam.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/intDoc.xsd" schemaLocation="intDoc.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prodejka.xsd" schemaLocation="prodejka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/voucher.xsd" schemaLocation="voucher.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/vyroba.xsd" schemaLocation="vyroba.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/prevodka.xsd" schemaLocation="prevodka.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/individualPrice.xsd" schemaLocation="individualPrice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/supplier.xsd" schemaLocation="supplier.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/accountancy.xsd" schemaLocation="accountancy.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/bank.xsd" schemaLocation="bank.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/store.xsd" schemaLocation="store.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/groupStocks.xsd" schemaLocation="groupStocks.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/actionPrice.xsd" schemaLocation="actionPrice.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/inventoryLists.xsd" schemaLocation="inventoryLists.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/payment.xsd" schemaLocation="payment.xsd"/>
<xsd:import namespace="http://www.stormware.cz/schema/version_2/numericalSeries.xsd" schemaLocation="numericalSeries.xsd"/>

<!-- ************************************************************************** -->
<!-- root element REQUEST - požadavek na export -->
<xsd:element name="listCentreRequest" type="lst:listRequestType"/>
<xsd:element name="listActivityRequest" type="lst:listRequestType"/>
<xsd:element name="listCashRequest" type="lst:listRequestType"/>
<xsd:element name="listCashRegisterRequest" type="lst:listCashRegisterRequestType"/>
<xsd:element name="listBankAccountRequest" type="lst:listBankAccountRequestType"/>
<xsd:element name="listAccountingSingleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountingDoubleEntryRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="listAccountRequest" type="lst:listRequestType"/>
<xsd:element name="listNumericSeriesRequest" type="lst:listRequestAgendasType"/>
<xsd:element name="createAccountingDoubleEntry" type="lst:createAccountingDoubleEntryType"/>
<xsd:element name="listInvoiceRequest" type="lst:listInvoiceRequestType"/>
<xsd:element name="listIntDocRequest" type="lst:listIntDocRequestType"/>
<xsd:element name="listProdejkaRequest" type="lst:listProdejkaRequestType"/>
<xsd:element name="listVyrobaRequest" type="lst:listVyrobaRequestType"/>
<xsd:element name="listPrevodkaRequest" type="lst:listPrevodkaRequestType"/>
<xsd:element name="listVoucherRequest" type="lst:listVoucherRequestType"/>
<xsd:element name="listOrderRequest" type="lst:listOrderRequestType"/>
<xsd:element name="listEnquiryRequest" type="lst:listEnquiryRequestType"/>
<xsd:element name="listOfferRequest" type="lst:listOfferRequestType"/>
<xsd:element name="listParameterRequest" type="lst:listParameterRequestType"/>
<xsd:element name="listUserCodeRequest" type="lst:listUserCodeRequestType"/>
<xsd:element name="listVydejkaRequest" type="lst:listVydejkaRequestType"/>
<xsd:element name="listPrijemkaRequest" type="lst:listPrijemkaRequestType"/>
<xsd:element name="listStorageRequest" type="lst:listRequestStoresType"/>
<xsd:element name="listSellingPriceRequest" type="lst:listRequestType"/>
<xsd:element name="listBalanceRequest" type="lst:listBalanceRequestType"/>
<xsd:element name="listCategoryRequest" type="lst:listCategoryRequestType"/>
<xsd:element name="listIntParamRequest" type="lst:listIntParamRequestType"/>
<xsd:element name="listIndividualPriceRequest" type="lst:listIndividualPriceRequestType"/>
<xsd:element name="listSupplierRequest" type="lst:listSupplierRequestType"/>
<xsd:element name="listAccountancyRequest" type="lst:listAccountancyRequestType"/>
<xsd:element name="listBankRequest" type="lst:listBankRequestType"/>
<xsd:element name="listStoreRequest" type="lst:listStoreRequestType"/>
<xsd:element name="listGroupStocksRequest" type="lst:listGroupStocksRequestType"/>
<xsd:element name="listActionPriceRequest" type="lst:listActionPriceRequestType"/>
<xsd:element name="listInventoryListsRequest" type="lst:listInventoryListsRequestType"/>
<xsd:element name="listPaymentRequest" type="lst:listPaymentRequestType"/>
<xsd:element name="listNumericalSeriesRequest" type="lst:listNumericalSeriesRequestType"/> <!-- Od verze 2.0 -->

<!-- ************************************************************************** -->
<!-- root element RESPONSE  - odpověď na export seznamů -->
<xsd:element name="listCentre" type="lst:listCentreType"/>
<xsd:element name="listActivity" type="lst:listActivityType"/>
<xsd:element name="listContract" type="lst:listContractType"/>
<xsd:element name="listCash" type="lst:listCashType"/>
<xsd:element name="listCashRegister" type="lst:listCashRegisterType"/>
<xsd:element name="listBankAccount" type="lst:listBankAccountType"/>
<xsd:element name="listAccountingSingleEntry" type="lst:listAccountingSingleEntryType"/>
<xsd:element name="listAccountingDoubleEntry" type="lst:listAccountingDoubleEntryType"/>
<xsd:element name="listAccount" type="lst:listAccountType"/>
<xsd:element name="listNumericSeries" type="lst:listNumericSeriesType"/>
<xsd:element name="createAccountingDoubleEntryResponse" type="lst:createAccountingDoubleEntryResponseType"/>  <!--  odpověď na vytvoření nového záznamu  -->
<xsd:element name="listInvoice" type="lst:listInvoiceType"/>
<xsd:element name="listIntDoc" type="lst:listIntDocType"/>
<xsd:element name="listProdejka" type="lst:listProdejkaType"/>
<xsd:element name="listVyroba" type="lst:listVyrobaType"/>
<xsd:element name="listPrevodka" type="lst:listPrevodkaType"/>
<xsd:element name="listVoucher" type="lst:listVoucherType"/>
<xsd:element name="listOrder" type="lst:listOrderType"/>
<xsd:element name="listEnquiry" type="lst:listEnquiryType"/>
<xsd:element name="listOffer" type="lst:listOfferType"/>
<xsd:element name="listParameter" type="lst:listParameterType"/>
<xsd:element name="listUserCode" type="lst:listUserCodeType"/>
<xsd:element name="listUserCodePack" type="lst:listUserCodePackType"/>
<xsd:element name="listVydejka" type="lst:listVydejkaType"/>
<xsd:element name="listPrijemka" type="lst:listPrijemkaType"/>
<xsd:element name="listStorage" type="lst:listStorageType"/>
<xsd:element name="listSellingPrice" type="lst:listSellingPriceType"/>
<xsd:element name="listBalance" type="lst:listBalanceType"/>
<xsd:element name="listCategory" type="lst:listCategoryType"/>
<xsd:element name="listIntParam" type="lst:listIntParamType"/>
<xsd:element name="taxDataResponse" type="lst:listVersionTypeTax"/>
<xsd:element name="listIndividualPrice" type="lst:listIndividualPriceType"/>
<xsd:element name="listSupplier" type="lst:listSupplierType"/>
<xsd:element name="listAccountancy" type="lst:listAccountancyType"/>
<xsd:element name="listBank" type="lst:listBankType"/>
<xsd:element name="listStore" type="lst:listStoreType"/>
<xsd:element name="listGroupStocks" type="lst:listGroupStocksType"/>
<xsd:element name="listActionPrice" type="lst:listActionPriceType"/>
<xsd:element name="listInventoryLists" type="lst:listInventoryListsType"/>
<xsd:element name="listPayment" type="lst:listPaymentType"/>
<xsd:element name="listNumericalSeries" type="lst:listNumericalSeriesType"/>

<!-- **************************************************************************
    base types
   ************************************************************************** -->

<xsd:complexType name="listRequestType">
  <xsd:attribute name="version" type="xsd:string" use="required">
    <xsd:annotation>
      <xsd:documentation>Verze exportovaného XML. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:complexType name="listRequestAgendasType">
  <xsd:complexContent>
    <xsd:extension base="lst:listRequestType">
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="agendas">          
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="agenda" type="lst:agendaType" minOccurs="0" maxOccurs="unbounded"> 
                <xsd:annotation>
                  <xsd:documentation>Výčet agend, pro které se vyexportují data.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="listRequestStoresType">
  <xsd:complexContent>
    <xsd:extension base="lst:listRequestType">
      <xsd:sequence minOccurs="0" maxOccurs="1">
        <xsd:element name="stores">         
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="store" type="typ:refType" maxOccurs="unbounded"> 
                <xsd:annotation>
                  <xsd:documentation>Výčet skladů, pro které se vyexportují data. Pokud není uveden, vyexportují se všechny data.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="createAccountingDoubleEntryType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="createAccounting" type="lst:createAccountingType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:createAccountingVerType" use="required"/>
</xsd:complexType>

<xsd:simpleType name="createAccountingVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="1.0"/>
    <xsd:enumeration value="1.1"/>
  </xsd:restriction>
</xsd:simpleType>


  <!-- ****************************************************************************** -->
<xsd:complexType name="listCashRegisterRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestCashRegister" type="ftr:requestCashRegisterType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listCashRegisterRequestVerType" use="required"/>
  <xsd:attribute name="cashRegisterVersion" type="csh:cshVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listCashRegisterRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

  <!-- ****************************************************************************** -->
  <xsd:complexType name="listBankAccountRequestType">
    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="requestBankAccount" type="ftr:requestBankAccountType"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="lst:listBankAccountRequestVerType" use="required"/>
    <xsd:attribute name="bankAccountVersion" type="bka:bkaVersionType" use="required">
      <xsd:annotation>
        <xsd:documentation>Požadovaná verze.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="extSystem" type="typ:string64">
      <xsd:annotation>
        <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="listBankAccountRequestVerType">
    <xsd:annotation>
      <xsd:documentation>Verze, které jsou dostupné. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="2.0"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- ****************************************************************************** -->
<xsd:complexType name="listInvoiceRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestInvoice" type="ftr:requestInvoiceType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listInvoiceRequestVerType" use="required"/>
  <xsd:attribute name="invoiceType" type="inv:invoiceTypeType" use="required"/>
  <xsd:attribute name="invoiceVersion" type="inv:invVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listInvoiceRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Interní doklady -->
<xsd:complexType name="listIntDocRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestIntDoc" type="ftr:requestIntDocType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listIntDocRequestVerType" use="required"/>
  <xsd:attribute name="intDocVersion" type="int:intVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listIntDocRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Objednávky -->
<xsd:complexType name="listOrderRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestOrder" type="ftr:requestOrderType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listOrderRequestVerType" use="required"/>
  <xsd:attribute name="orderType" type="ord:orderTypeType" use="required"/>
  <xsd:attribute name="orderVersion" type="ord:ordVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOrderRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Prodejky -->
<xsd:complexType name="listProdejkaRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestProdejka" type="ftr:requestProdejkaType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listProdejkaRequestVerType" use="required"/>
  <xsd:attribute name="prodejkaVersion" type="pro:proVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listProdejkaRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Výroba -->
<xsd:complexType name="listVyrobaRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestVyroba" type="ftr:requestVyrobaType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listVyrobaRequestVerType" use="required"/>
  <xsd:attribute name="vyrobaVersion" type="vyr:vyrVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVyrobaRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
  <!-- Prodejky -->
<xsd:complexType name="listPrevodkaRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestPrevodka" type="ftr:requestPrevodkaType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listPrevodkaRequestVerType" use="required"/>
  <xsd:attribute name="prevodkaVersion" type="pre:preVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listPrevodkaRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Pokladna -->
<xsd:complexType name="listVoucherRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestVoucher" type="ftr:requestVoucherType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listVoucherRequestVerType" use="required"/>
  <xsd:attribute name="voucherVersion" type="vch:vchVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVoucherRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Nabídky -->
<xsd:complexType name="listOfferRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestOffer" type="ftr:requestOfferType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listOfferRequestVerType" use="required"/>
  <xsd:attribute name="offerType" type="ofr:offerTypeType" use="optional"/>
  <xsd:attribute name="offerVersion" type="ofr:ofrVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listOfferRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Poptávky -->
<xsd:complexType name="listEnquiryRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestEnquiry" type="ftr:requestEnquiryType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listEnquiryRequestVerType" use="required"/>
  <xsd:attribute name="enquiryType" type="enq:enquiryTypeType" use="optional"/>
  <xsd:attribute name="enquiryVersion" type="enq:enqVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listEnquiryRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Výdejky -->
<xsd:complexType name="listVydejkaRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestVydejka" type="ftr:requestVydejkaType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listVydejkaRequestVerType" use="required"/>
  <xsd:attribute name="vydejkaVersion" type="vyd:vydVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listVydejkaRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Příjemky -->
<xsd:complexType name="listPrijemkaRequestType">
  <xsd:sequence minOccurs="1" maxOccurs="unbounded">
    <xsd:element name="requestPrijemka" type="ftr:requestPrijemkaType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listPrijemkaRequestVerType" use="required"/>
  <xsd:attribute name="prijemkaVersion" type="pri:priVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze výdejky.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>

<xsd:simpleType name="listPrijemkaRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="2.0"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Saldo -->
<xsd:complexType name="listBalanceRequestType">
  <xsd:sequence>
    <xsd:element name="requestBalance" type="lst:requestBalanceType"/>
  </xsd:sequence>
  <xsd:attribute name="version" type="lst:listBalanceRequestVerType" use="required"/>
  <xsd:attribute name="balanceVersion" type="bal:balVersionType" use="required">
    <xsd:annotation>
      <xsd:documentation>Požadovaná verze dokladu.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attribute name="extSystem" type="typ:string64">
    <xsd:annotation>
      <xsd:documentation>Označení externího systému, pro který se vyexportují identifikátory.</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
</xsd:complexType>  

<xsd:simpleType name="listBalanceRequestVerType">
  <xsd:annotation>
    <xsd:documentation>Verze, které jsou dostupné k tomuto dokladu. Podrobnosti k jednotlivým verzím najdete na www.stormware.cz/xml</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="1.0"/>      
  </xsd:restriction>
</xsd:simpleType>

<!-- ****************************************************************************** -->
<!-- Kategorie internetového obchodu -->
<xsd:complexType name="listCategoryRequestType">
  <xsd:sequence minOccurs="0">
    <xsd:element name="requestC