type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:typ="http://www.stormware.cz/schema/version_2/type.xsd"
      xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
      xmlns="http://www.stormware.cz/schema/version_2/type.xsd"
      targetNamespace="http://www.stormware.cz/schema/version_2/type.xsd"
      elementFormDefault="qualified"
>

<xsd:import namespace="http://www.stormware.cz/schema/version_2/filter.xsd" schemaLocation="filter.xsd"/>

<!-- **************************************************************************
    common types
   ************************************************************************** -->

<xsd:simpleType name="nonEmptyString">
  <xsd:restriction base="xsd:string">
    <xsd:minLength value="1" />
    <xsd:pattern value=".*[^\s].*" />
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string1">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 1 znak.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="1"/>
  </xsd:restriction>
</xsd:simpleType>
  
<xsd:simpleType name="string2">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 2 znaky.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="2"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string3">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 3 znaky.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="3"/>
  </xsd:restriction>
</xsd:simpleType>
  
<xsd:simpleType name="string6">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 6 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="6"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string7">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 7 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="7"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string8">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 8 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="8"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string10">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 10 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="10"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string10NotEmpty">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 10 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:minLength value="1"/>
    <xsd:maxLength value="10"/>    
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string32NotEmpty">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 32 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:minLength value="1"/>
    <xsd:maxLength value="32"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string11">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 11 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="11"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string12">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 12 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="12"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string15">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 15 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="15"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string16">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 16 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="16"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string18">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 18 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="18"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string20">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 20 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="20"/>
  </xsd:restriction>
</xsd:simpleType>

  <xsd:simpleType name="string24">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 24 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="24"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string32">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 32 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="32"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string30">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 30 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="30"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string34">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 34 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="34"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string35">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 35 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="35"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string38">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 35 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="38"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string40">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 40 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="40"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string45">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 45 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="45"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string48">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 48 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="48"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string64">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 64 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="64"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string80">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 80 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="80"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string90">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 90 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="90"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string96">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 96 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="96"/>
  </xsd:restriction>
</xsd:simpleType>

  <xsd:simpleType name="string98">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 98 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="98"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string100">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 100 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="100"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string240">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 240 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="240"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="string255">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 255 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="255"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="stringCompany">
  <xsd:annotation>
    <xsd:documentation>Řetězec o délce 255 znaků.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="255"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="boolean">
  <xsd:annotation>
    <xsd:documentation>Logická hodnota ("true", "false").</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="true"/>
    <xsd:enumeration value="false"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="idType">
  <xsd:annotation>
    <xsd:documentation>ID záznamu používané Pohodou. Automaticky generovaná hodnota.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:integer">
    <xsd:minInclusive value="1"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="idsType">
  <xsd:annotation>
    <xsd:documentation>Řetězcový identifikátor záznamu.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="19"/>
  </xsd:restriction>
</xsd:simpleType>
  
<xsd:simpleType name="idsTypeLong">
  <xsd:annotation>
    <xsd:documentation>Dlouhý řetězcový identifikátor záznamu.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="80"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="sexType">
  <xsd:annotation>
    <xsd:documentation>Muž / Žena / Nezjištěno(jen v CZ).</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="man"/>
    <xsd:enumeration value="woman"/>
    <xsd:enumeration value="unknown"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="rectangle">
  <xsd:attribute name="left" type="xsd:integer" use="required"/>
  <xsd:attribute name="top" type="xsd:integer" use="required"/>
  <xsd:attribute name="right" type="xsd:integer" use="required"/>
  <xsd:attribute name="bottom" type="xsd:integer" use="required"/>
</xsd:complexType>

<xsd:complexType name="orderStockItemType">
  <xsd:all>
    <xsd:element name="actionType" type="typ:actionTypeStockItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ práce s dokladem. Výchozí hodnota je přidání nového dokladu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="stockOrder" type="xsd:integer" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Pořadí položek.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="stockItem" type="typ:stockRefType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na skladovou položku.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="stockItemType">
  <xsd:annotation>
    <xsd:documentation>Údaje skladové zásoby vložené do položky dokladu</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
    <xsd:element name="store" type="typ:refType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Sklad.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    <xsd:element name="stockItem" type="typ:stockRefType">
      <xsd:annotation>
        <xsd:documentation>Odkaz na skladovou položku.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
      <xsd:element name="serialNumber" type="typ:serialNumberType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Výrobní číslo.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="actionTypeItem">
  <xsd:choice>
    <xsd:element name="add" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="update" type="ftr:requestItemType">
      <xsd:annotation>
        <xsd:documentation>Aktualizace záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="delete" type="ftr:requestItemType">
      <xsd:annotation>
        <xsd:documentation>Odstranění záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:choice>
</xsd:complexType>

<xsd:complexType name="actionTypeItemAddDelete">
  <xsd:choice>
    <xsd:element name="add" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="delete" type="ftr:requestItemType">
      <xsd:annotation>
        <xsd:documentation>Odstranění záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:choice>
</xsd:complexType>

<xsd:complexType name="actionTypeStockItem">
  <xsd:choice>
    <xsd:element name="add" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Vložení nového záznamu. Výchozí hodnota.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="update" type="ftr:requestStockType">
      <xsd:annotation>
        <xsd:documentation>Aktualizace záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="delete" type="ftr:requestStockType">
      <xsd:annotation>
        <xsd:documentation>Odstranění záznamu.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:choice>
</xsd:complexType>


<xsd:simpleType name="stockIdsType">
  <xsd:annotation>
    <xsd:documentation>Řetězcový identifikátor skladové položky.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="64"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="stockPriceType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na ID v SKzCn.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="ids" type="typ:idsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Název ceny. IDS v SKzCn.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="price" type="typ:currencyType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Cena zásoby.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="numberADType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na číselnou řadu. Vyšší prioritu má elemet "id".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="ids" type="typ:idsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Prefix číselné řady.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="numberRequested" minOccurs="0">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="typ:string20">
            <xsd:attribute name="checkDuplicity" type="typ:boolean" default="true">
              <xsd:annotation>
                <xsd:documentation>Pokud je hodnota 'true', nedovolí se vytvořit doklad, pokud zadané číslo již existuje. 
                                   Pokud je hodnota 'false', doklad se vytvoří s upraveným číslem (do response se zapíše warning).</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>    
  </xsd:all>
</xsd:complexType>


<xsd:complexType name="numberType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na číselnou řadu. Vyšší prioritu má elemet "id".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="ids" type="typ:idsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Prefix číselné řady.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="numberRequested" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Číslo dokladu, bez vazby na číselnou řadu.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="typ:string32NotEmpty">
            <xsd:attribute name="checkDuplicity" type="typ:boolean" default="true">
              <xsd:annotation>
                <xsd:documentation>Pokud je hodnota 'true', nedovolí se vytvořit doklad, pokud zadané číslo již existuje. 
                                   Pokud je hodnota 'false', doklad se vytvoří s upraveným číslem (do response se zapíše warning).</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>    
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="numberTypeContract">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na číselnou řadu. Vyšší prioritu má elemet "id".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="ids" type="typ:idsType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Prefix číselné řady.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="numberRequested" minOccurs="0">
      <xsd:complexType>
        <xsd:simpleContent>
          <xsd:extension base="typ:string12">
            <xsd:attribute name="checkDuplicity" type="typ:boolean" default="true">
              <xsd:annotation>
                <xsd:documentation>Pokud je hodnota 'true', nedovolí se vytvořit doklad, pokud zadané číslo již existuje. 
                                   Pokud je hodnota 'false', doklad se vytvoří s upraveným číslem (do response se zapíše warning).</xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>
          </xsd:extension>
        </xsd:simpleContent>
      </xsd:complexType>
    </xsd:element>    
  </xsd:all>
</xsd:complexType>

<xsd:simpleType name="documentNumberType">
  <xsd:annotation>
    <xsd:documentation>Číslo dokladu.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="32"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="serialNumberType">
  <xsd:annotation>
    <xsd:documentation>Výrobní číslo.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="40"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="companyType">
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na adresu. Vyšší prioritu má elemet "id".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:simpleType name="icoType">
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="15"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="dicType">
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="18"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="VATPayerTypeType">
  <xsd:restriction base="xsd:string">
    <xsd:enumeration value="payer">
      <xsd:annotation>
        <xsd:documentation>Plátce DPH.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="non-payer">
      <xsd:annotation>
        <xsd:documentation>Neplátce DPH.</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
    <xsd:enumeration value="">
      <xsd:annotation>
        <xsd:documentation>Neuvedeno (výchozí hodnota).</xsd:documentation>
      </xsd:annotation>
    </xsd:enumeration>
  </xsd:restriction>
</xsd:simpleType>


<xsd:simpleType name="icDphType">
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="18"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="bankCodeType">
  <xsd:annotation>
    <xsd:documentation>Kód banky/SWIFT.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="11"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symVarType">
  <xsd:annotation>
    <xsd:documentation>Variabilni symbol.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="20"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symConstType">
  <xsd:annotation>
    <xsd:documentation>Konstantni symbol.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="20"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="unitType">
  <xsd:annotation>
    <xsd:documentation>Měrná jednotka.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="10"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="symSpecType">
  <xsd:annotation>
    <xsd:documentation>Specificky symbol.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="20"/>
  </xsd:restriction>
</xsd:simpleType>

<!-- ****** adresa ******             -->
<xsd:complexType name="address">
  <xsd:sequence>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Odkaz na entitu. Vyšší prioritu má elemet "id".</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="extId" type="typ:extIdType" minOccurs="0" maxOccurs="unbounded">
      <xsd:annotation>
        <xsd:documentation>Odkaz na záznam v externí databázi. V databázi se nachází speciální tabulka obsahující 
          vazbu mezi agendou a externí databází.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="address" type="typ:addressType" minOccurs="0" />
    <xsd:element name="shipToAddress" type="typ:shipToAddressType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="addressType">
  <xsd:annotation>
    <xsd:documentation>Adresa.</xsd:documentation>
  </xsd:annotation>
   <xsd:all>
    <xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
    <xsd:element name="division" type="typ:string32" minOccurs="0"/>
    <xsd:element name="name" type="typ:string32" minOccurs="0"/>    
    <xsd:element name="city" type="typ:string45" minOccurs="0"/>
    <xsd:element name="street" type="typ:string64" minOccurs="0"/>
    <xsd:element name="zip" type="typ:string15" minOccurs="0"/>
    <xsd:element name="ico" type="typ:icoType" minOccurs="0"/>
    <xsd:element name="dic" type="typ:dicType" minOccurs="0"/>
    <xsd:element name="VATPayerType" type="typ:VATPayerTypeType" minOccurs="0">
     <xsd:annotation>
       <xsd:documentation>Typ plátce DPH (pouze CZ verze).</xsd:documentation>
     </xsd:annotation>
    </xsd:element>
    <xsd:element name="icDph" type="typ:icDphType" minOccurs="0"/>
    <xsd:element name="country" type="typ:refType" minOccurs="0"/>
    <xsd:element name="phone" type="typ:string40" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podporováno pouze u objednávek a nabídek.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="mobilPhone" type="typ:string24" minOccurs="0"/>
    <xsd:element name="fax" type="typ:string24" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podporováno pouze u objednávek a nabídek.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="email" type="typ:string98" minOccurs="0">
     <xsd:annotation>
       <xsd:documentation>Podporováno pouze u dokladů (Nabídka, Poptávky, Přijaté objednávky, Vydané Objednávky, Vydané Faktury, Vydané Zálohové Faktury, Ostatní Pohledávky, Výdejky).</xsd:documentation>
     </xsd:annotation>
    </xsd:element>
   </xsd:all>
</xsd:complexType>

<xsd:complexType name="shipToAddressType">
  <xsd:annotation>
    <xsd:documentation>Dodací adresa.</xsd:documentation>
  </xsd:annotation>
   <xsd:all>
    <xsd:element name="actionType" type="typ:actionTypeItem" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Typ práce s dodací adresou. Výchozí hodnota je přidání nového dodací adresy.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="id" type="typ:idType" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>ID dodací adresy (jen pro export).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
    <xsd:element name="division" type="typ:string32" minOccurs="0"/>
    <xsd:element name="name" type="typ:string32" minOccurs="0"/>    
    <xsd:element name="city" type="typ:string45" minOccurs="0"/>
    <xsd:element name="street" type="typ:string64" minOccurs="0"/>
    <xsd:element name="zip" type="typ:string15" minOccurs="0"/>
    <xsd:element name="country" type="typ:refType" minOccurs="0"/>
    <xsd:element name="phone" type="typ:string40" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podporováno pouze u objednávek, nabídek, vydaných faktur, vydaných zálohových faktur, příjemek, ostatních pohledávek, interních dokladů a příjemek.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="email" type="typ:string98" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Podporováno pouze u dokladů (Nabídka, Poptávky, Přijaté objednávky, Vydané Objednávky, Vydané Faktury, Vydané Zálohové Faktury, Ostatní Pohledávky, Výdejky).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
     <xsd:element name="defaultShipAddress" type="typ:boolean" minOccurs="0" default="false">
       <xsd:annotation>
         <xsd:documentation>Výchozí dodací adresa.</xsd:documentation>
       </xsd:annotation>
     </xsd:element>
     </xsd:all>
</xsd:complexType>

<xsd:complexType name="myAddress">
  <xsd:all>
    <xsd:element name="address" type="typ:addressInternetType"/>
    <xsd:element name="establishment" type="typ:establishmentType" minOccurs="0"/>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="addressInternetType">
  <xsd:annotation>
    <xsd:documentation>Adresa účetní jednotky.</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
    <xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
    <xsd:element name="title" type="typ:string7" minOccurs="0"/>
    <xsd:element name="surname" type="typ:string32" minOccurs="0"/>
    <xsd:element name="name" type="typ:string32" minOccurs="0"/>
    <xsd:element name="city" type="typ:string45" minOccurs="0"/>
    <xsd:element name="street" type="typ:string64" minOccurs="0"/>
    <xsd:element name="number" type="typ:string10" minOccurs="0"/>
    <xsd:element name="zip" type="typ:string15" minOccurs="0"/>
    <xsd:element name="ico" type="typ:icoType" minOccurs="0"/>
    <xsd:element name="dic" type="typ:dicType" minOccurs="0"/>
    <xsd:element name="icDph" type="typ:icDphType" minOccurs="0"/>
    <xsd:element name="phone" type="typ:string40" minOccurs="0"/>
    <xsd:element name="mobilPhone" type="typ:string24" minOccurs="0"/>
    <xsd:element name="fax" type="typ:string24" minOccurs="0"/>
    <xsd:element name="email" type="typ:string64" minOccurs="0"/>
    <xsd:element name="www" type="typ:string32" minOccurs="0"/>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="establishmentType">
  <xsd:annotation>
    <xsd:documentation>Adresa provozovny účetní jednotky.</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
    <xsd:element name="company" type="typ:stringCompany" minOccurs="0"/>
    <xsd:element name="city" type="typ:string45" minOccurs="0"/>
    <xsd:element name="street" type="typ:string64" minOccurs="0"/>
    <xsd:element name="zip" type="typ:string15" minOccurs="0"/>
  </xsd:all>
</xsd:complexType>

<xsd:complexType name="extIdType">
  <xsd:all>
    <xsd:element name="ids" type="typ:string64">
      <xsd:annotation>
        <xsd:documentation>ID záznamu v externím systému, jedinečný textový identifikátor.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="exSystemName" type="typ:string64">
      <xsd:annotation>
        <xsd:documentation>Jedinečný název externího systému (např. GUID).</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
    <xsd:element name="exSystemText" type="xsd:string" minOccurs="0">
      <xsd:annotation>
        <xsd:documentation>Textový popis externího systému.</xsd:documentation>
      </xsd:annotation>
    </xsd:element>
  </xsd:all>
</xsd:complexType>

<xsd:simpleType name="numberAccountType">
  <xsd:annotation>
    <xsd:documentation>Číslo účtu, analytická část může mít až 6 číslic v závislosti na hodnotě v globálním nastavení.</xsd:documentation>
  </xsd:annotation>
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="9"/>
  </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="accountType">
  <xsd:annotation>
    <xsd:documentation>Účet kam zaplatit.</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0"/>
    <xsd:element name="ids" type="typ:idsType" minOccurs="0"/>
    <xsd:element name="accountNo" type="typ:string34" minOccurs="0"/>
    <xsd:element name="bankCode" type="typ:bankCodeType" minOccurs="0"/>
  </xsd:all>      
</xsd:complexType>
      
<xsd:group name="myGroupOfAccount">
  <xsd:all>
      <xsd:element name="accountNo" type="typ:string34"/>
      <xsd:element name="bankCode" type="typ:bankCodeType"/>
  </xsd:all >
</xsd:group>

<xsd:complexType name="refType">
  <xsd:annotation>
    <xsd:documentation>Odkaz na entitu. Vyšší prioritu má element "id".</xsd:documentation>
  </xsd:annotation>
  <xsd:all>
    <xsd:element name="id" type="typ:idType" minOccurs="0" />
    <xsd:element name="ids" type="typ:idsType" minOccurs="0" />
    <xsd:element name="valueType" minOccurs="0" >
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">       
          <xsd:enumeration value="nullValue">
            <xsd:annotation>
              <xsd:documentation>Hodnota reprezentuje prázdnou (NULL) hodnotu.</xsd:documentation>
            </xsd:annotation>
     